  
name: Docker Image CI

on: [push]

jobs:

  build:
 
    runs-on: windows-2019
 
    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag pxweb:latest
